html {
    font-size: 62.5%;
    padding: 0;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Lato", sans-serif;
  }
  
  h1 {
    font-size: 4.2rem;
  }
  
  h2 {
    font-size: 3.2rem;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }
  
  header small {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    color: #848484;
  }
  
  #image {
    max-width: 100%;
    display: block;
    width: 100%;
    object-fit: contain;
    height: auto;
  }
  
  figure {
    margin: 4rem 0px;
  }
  
  figcaption {
    text-align: center;
    padding: 1rem 0;
  }
  
  #tribute-info {
    background-color: #eee;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-word;
  }
  
  ol li {
    margin: 2rem 0;
  }
  
  strong {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: 848484;
  }
  
  i {
    font-style: italic;
  }
  
  footer {
    padding: 3rem 2rem;
    text-align: center;
  }
  
  @media (min-width: 800px) {
    ol {
      max-width: 600px;
    }
  }
  